{% extends 'base.html.twig' %}

{% block title %}Alertes{% endblock %}

{% block body %}
<div class="container">
    <hr>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link " href="{{ path('alerte_index') }}">Tous</a>
        </li>
        {% for type in alerteTypes %}
            <li class="nav-item">
                <a class="nav-link " href="{{ path('alerte_index',{type:type.id}) }}">{{ type.nom }}</a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    {%  for alerte in alertes %}

        <div class="card m-auto v-top text-center d-inline-block "  style="width: 20rem;height: 12rem;vertical-align: top">
            <div class="card-body">
                client :  {{ alerte.client.nom  }} <br>
               Type :  {{ alerte.type.nom  }} <br>
                {%  set process   =  alerte.dateProcess ? " Traité le "~ alerte.dateProcess|date('d/m/Y') : "non traité" %}
                date :  {{ alerte.date|date('d/m/Y') }} <br>
                {{ process }}
                <br>
                {% if alerte.dateProcess is empty%}
                    <a href="{{ path('alerte_detail', {id:alerte.id}) }}" class="btn btn-primary">Détail</a>
                {%  endif %}
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}
