{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

<div class="container">



    <h1>{{ alerte.client.nom }} </h1>

            <div class="card m-auto v-top text-center inline"  style="width: 12rem;height: 10rem">
                <div class="card-body">
                    {{ alerte.type.nom  }} <br>
                    {%  set process   =  alerte.dateProcess ? " Traité le "~ alerte.dateProcess|date('d/m/Y') : "non traité" %}
                    date :  {{ alerte.date|date('d/m/Y') }} <br>
                    {{ process }}


                    <a href="{{ path('client_detailAlerte',{id:alerte.id}) }}" class="btn btn-primary">Détail</a>
                </div>
            </div>


</div>
{% endblock %}
