{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

<div class="container">


        <h2>{{ client.nom }} </h2>
    {{ client.codePostal  }} {{ client.ville  }}
    <br>
    {{ client.email }}  / {{  client.telephone }}
    <br>
    <hr>
    <h2>Alertes </h2> <br>
    {%  for alerte in alertes %}

            <div class="card m-auto v-top text-center d-inline-block "  style="width: 12rem;height: 10rem;vertical-align: top">
                <div class="card-body">
                    {{ alerte.type.nom  }} <br>
                    {%  set process   =  alerte.dateProcess ? " Traité le "~ alerte.dateProcess|date('d/m/Y') : "non traité" %}
                    date :  {{ alerte.date|date('d/m/Y') }} <br>
                    {{ process }}
                    <br>
                    {% if alerte.dateProcess is empty%}
                    <a href="{{ path('alerte_detail', {id:alerte.id}) }}" class="btn btn-primary">Détail</a>
                    {%  endif %}
                </div>
            </div>

    {% endfor %}

</div>
{% endblock %}
