{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

<div class="container">
    <hr>
    <a href="{{ path('client_create') }}">Créer un client</a>
    <hr>

    <div class="row">
    {%  for client in clients %}
        <div class="col-sm-4">
            <div class="card m-auto v-top text-center"  style="width: 18rem;height: 14rem">
                <div class="card-body">
                    <h5 class="card-title">{{ client.nom  }}</h5>

                    {{ client.codePostal  }} {{ client.ville  }}
                    <br>
                    {{ client.email }}  / {{  client.telephone }}
                    <br>
                    <a href="{{ path('client_detailClient',{id:client.id}) }}" class="btn btn-primary">Détail</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
